---
import dataList from '../data/user.json';
import EmailButton from './EmailButton.astro';
import Link from './Link.astro';

const items = dataList.links;
---

<ul class='list' id='list'>
  {
    items.map((item, index) => (
      <li class={`slide-up-fade list-animated`} data-index={index}>
        {item.emailUser && item.emailDomain ? (
          <EmailButton
            icon={item.icon}
            title={item.title}
            description={item.description}
            emailUser={item.emailUser}
            emailDomain={item.emailDomain}
          />
        ) : (
          <Link
            icon={item.icon}
            title={item.title}
            description={item.description}
            url={item.url}
            colorIndex={index}
          />
        )}
      </li>
    ))
  }
</ul>
