---
import dataList from '../data/user.json';
import Link from './Link.astro';

const items = dataList.links;
---

<ul class='list' id='list'>
  {
    items.map((item, index) => (
      <li class={`list-animated`} data-index={index}>
        <Link
          icon={item.icon}
          title={item.title}
          description={item.description}
          url={item.url}
          colorIndex={index}
        />
      </li>
    ))
  }
</ul>
