---
export interface Props {
  takeAction: {
    donate: Array<{
      organisation: string;
      description: string;
      url: string;
    }>;
    awareness: Array<string>;
    boycott: Array<string>;
  };
}

const { takeAction } = Astro.props;

function formatText(text: string): string {
  return text
    .replace(/\*\*(.*?)\*\*/g, '<strong>$1</strong>')
    .replace(/\*(.*?)\*/g, '<em>$1</em>');
}
---

<section class='action-section'>
  <h2>How You Can Help</h2>

  <div class='action-group'>
    <h3>
      <i class='ri-heart-line'></i> Donate
    </h3>
    <div class='donate-organisations'>
      {
        takeAction.donate.map((org) => (
          <div class='org-item'>
            <h4>{org.organisation}</h4>
            <p>{org.description}</p>
            <a
              href={org.url}
              target='_blank'
              rel='noopener noreferrer'
              class='donate-link'
            >
              <i class='ri-external-link-line' />
              Donate
            </a>
          </div>
        ))
      }
    </div>
  </div>

  <div class='action-group'>
    <h3>
      <i class='ri-megaphone-line'></i> Raise Awareness
    </h3>
    <div class='awareness-list'>
      {
        takeAction.awareness.map((action) => (
          <div class='action-card' set:html={formatText(action)} />
        ))
      }
    </div>
  </div>

  <div class='action-group'>
    <h3>
      <i class='ri-shield-line'></i> Economic Action
    </h3>
    <div class='boycott-list'>
      {
        takeAction.boycott.map((action) => (
          <div class='action-card'>{action}</div>
        ))
      }
    </div>
  </div>
</section>
