---
import dataList from '../../data/user.json';
import Link from '../shared/Link.astro';

const items = dataList.links;
---

<section class='links-section'>
  <h2 class='links-heading'>Projects & Links</h2>
  <ul class='list' id='list'>
    {
      items.map((item, index) => (
        <li class={`list-animated`} style={`--i:${index}`}>
          <Link
            icon={item.icon}
            title={item.title}
            description={item.description}
            url={item.url}
          />
        </li>
      ))
    }
  </ul>
</section>

<style>
  .links-section {
    margin-top: 2rem;
  }

  .links-heading {
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--text-primary);
    margin-bottom: 1rem;
    text-align: center;
  }

  @media (min-width: 769px) {
    .links-heading {
      font-size: 1.25rem;
    }
  }
  .list {
    margin: 2rem 0;
    display: grid;
    gap: 1rem;
    list-style: none;
    padding: 0;
    --stagger-step: 80ms;
  }

  .list > li {
    margin: 0;
    padding: 0;
  }

  .list-animated {
    animation-delay: calc(var(--i, 0) * var(--stagger-step, 80ms));
  }
</style>
